
h1{
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 196, 0);
    padding: 50px;
    text-align: center;
    text-decoration: solid;
}

.superheroes{
    padding: 60px;
    color:brown;
}
#button{
    padding: 5px 40px ;
    color:rgb(255, 255, 255);
    margin: 50px;
    background-color: rgb(255, 196, 0);
   
}

input{
    padding:5px;
}